:root {
    --primary: #F3F4F7;
    --text-primary: #1C1D21;
    --font-sans: "DM Sans", -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue', 'Helvetica', sans-serif;
    --scrollbar-width: 14px;
    
}

.swap_bg {
    background-image: url('../../public/backgroundCard.png');
    height: 1000%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.stake_bg {
    background-image: url('../../public/backgroundStake.png');
    height: 1000%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.miso_bg {
    background-image: url('../../public/nft-miso.png');
    height: 1000%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
