:root {
    --primary: #F3F4F7;
    --text-primary: #1C1D21;
    --font-sans: "DM Sans", -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue', 'Helvetica', sans-serif;
    --scrollbar-width: 14px;
    
}


/*  add this cofigs 
--font-trap  */